:root {
  --sl-color-accent-low: #d8efe4;
  --sl-color-accent: #16745b;
  --sl-color-accent-high: #063d32;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #0c3c33;
  --sl-color-accent: #47c9a2;
  --sl-color-accent-high: #d9f8eb;
}
